body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 34px;
    color: #777777;
    background: url(images/interlaced.png);
}

* {
    box-sizing: border-box;
}

.nav-link {
    color: white;
}

h2 {
    color: white;
}

.container {
    background: #ffffff;

}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #562e70;
    font-size: 32px;
    padding: 20px;
    border-bottom: 3px solid #dddddd;
    font-weight: bold;
    margin-bottom: 20px;
}

h5 {
    font-weight: bold;
    color: #562e70;
}

.footer {
    text-align: center;
    background: #887291;
    color: #ffffff;
    border-top: 8px solid #562e70;
}



.submit {
    background: #562e70;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 20px;
    color: white!important;
    
}

.icon-group {
    color: #562e70!important;
    position: relative;
    
}


.fa-linkedin {
    padding-top: 10px;
    color: #562e70!important;
}

a {
    color: #562e70;
}

.fa-github {
    padding-top: 20px;
    color: #562e70!important;
    padding-bottom: 20px;
}

.card-img {
    height: 225px;
}

.wrapper {
    text-align: center;
    color: #887291;
    background-color: #562e70;
    
}

#email, #phone {
    color: #562e70!important;
}

#skills {
    padding-left: 20px;
}


